body {
    background-color: #164194;
    color: white;
    font-family: Arial, sans-serif;
}

p {
    text-indent: 40px;
}


a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #cccccc;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.image,
.table-responsive img {
    text-align: center;
    max-width: 100%;
    height: auto;
}

/* Updated to remove redundancy, applying max-width to all images */
img {
    max-width: 100%;
    height: auto;
}

/* Responsive table styles, now with border removed */
.table-responsive table {
    width: 100%;
    border-collapse: collapse;
    border: none; /* Removes border from the table */
}

.table-responsive th,
.table-responsive td {
    border: none; /* Hides borders for th and td elements */
    text-align: center;
    padding: 10px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
    .table-responsive {
        display: block;
        overflow-x: auto;
    }

    .table-responsive table {
        width: auto;
    }

    .table-responsive img {
        max-width: 300px; /* Adjusted max-width for smaller screens */
    }
}
